/* STARTUPLANDING FIRST-CONTENT */
.startupLanding .first-content {
    background-image: url("/startupLanding/BG\ \(2\).png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.startupLanding .first-content header .right {
    background-color: #ffffffa8;
    border-radius: 10px;
    padding: 5px 30px;
}

.startupLanding .oval {
    position: absolute;
    top: 6rem;
    right: 30rem;
    width: 15rem;
}

.startupLanding .first-content header .right .btn {
    margin-left: 100px;
}

.startupLanding .first-content .content {
    margin: 80px 120px;
}

.startupLanding header .line:hover .first-dropdown {
    top: 4rem;
}

.startupLanding .first-content .content h1 {
    font-size: 2.5rem;
}

.startupLanding .first-content .content p {
    line-height: 1.9rem;
    color: #635e5e;
    margin: 20px 0;
}

#email {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 550px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;
}

#email .btn {
    margin-right: 20px;
    width: 200px;
}

#email input {
    height: 100%;
    margin-left: -120px;
    border: none;
    outline: none;
    font-size: 17px;
}

#email i {
    margin-left: 20px;
    color: #756d6d;
}

.white {
    color: #000;
}

/* STARTUPLANDING SECOND-CONTENT */
.startupLanding .second-content .content {
    width: 300px;
}

.startupLanding .second-content {
    margin-top: 0;
    border-bottom-right-radius: 0;
    background-color: #413365;
}

.startupLanding .second-content .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.startupLanding .second-content .right {
    margin-left: 6rem;
}

/* STARTUPLANDING THIRD-CONTENT */
.startupLanding .third-content {
    position: relative;
    justify-content: space-evenly;
    margin: 0 auto 10px;
    height: 100vh;
    width: 100vw;
}

.startupLanding .third-content img {
    position: absolute;
}

.startupLanding .third-content .left {
    margin-left: 90px;
}

.startupLanding .third-content .right {
    background-image: url('/startupLanding/BG\ \(4\).jpg');
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: -60px;
    width: 700px;
    height: 100%;
}

/* STARTUPLANDING FOURTH-CONTENT */
.startupLanding .fourth-content {
    margin-top: -8px;
    width: 100vw;
    height: 100vh;
    background-color: #f7f7fb;
}

.startupLanding .fourth-content h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2.6rem;
}

.startupLanding .fourth-content .general-content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-top: 4rem;
}

.startupLanding .fourth-content .general-content .content:first-child,
.startupLanding .fourth-content .general-content .content:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

.startupLanding .fourth-content .general-content .content:nth-child(2) {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.startupLanding .fourth-content .general-content .content h3 {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 15px;
}

/* STARTUPLANDING FIFTH-CONTENT */
.startupLanding .fifth-content .content-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.startupLanding .fifth-content .content-1 .left h1 {
    font-size: 2.5rem;
}

.startupLanding .fifth-content .content-1 .left p {
    line-height: 1.9rem;
    margin: 2rem 0;
}

.startupLanding .fifth-content .content-1 .right .image img:nth-child(2) {
    position: absolute;
    top: 27rem;
    width: 15rem;
    right: 33rem;
    z-index: 10;
}

.startupLanding .fifth-content .content-2 {
    width: 100vw;
    height: 100vh;
    background-color: #f7f7fb;
}

.startupLanding .fifth-content .content-2>.title {
    text-align: center;
    padding: 5rem 0;
}

.startupLanding .fifth-content .content-2>.title h1 {
    font-size: 2.5rem;
}

.startupLanding .fifth-content .content-2>.title p {
    padding-top: 1rem;
    line-height: 2rem;
    color: #4b4949;
}

.startupLanding .fifth-content .content-2 .mini-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.startupLanding .fifth-content .content-2 .mini-content .content-mini {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}

.startupLanding .fifth-content .content-2 .mini-content .content-mini p {
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}

/* startuplanding footer */
.startupLanding .fifth-content .content-2 .mini-content .content-mini .footer {
    display: flex;
    justify-content: left;
    gap: 2rem;
}

.startupLanding .fifth-content .content-2 .mini-content .content-mini .footer p {
    font-size: 0.8rem;
    color: #4b4949;
}

.startupLanding .fifth-content .content-3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    gap: 10rem;
    width: 100vw;
    min-height: 100vh;
    background-color: #413365;
}

.startupLanding .fifth-content .content-3 .left .image img:nth-child(2) {
    position: absolute;
    width: 13rem;
    left: 30rem;
    top: 15rem;
}

.startupLanding .fifth-content .content-3 .right h1 {
    color: #fff;
    font-size: 2.5rem;
}

.startupLanding .fifth-content .content-3 .right p {
    line-height: 2rem;
    color: #ccc;
    padding: 2rem 0;
}

.startupLanding .fifth-content .content-3 .right .email {
    display: grid;
    gap: 1rem;
}

.startupLanding .fifth-content .content-3 .right .email .input {
    background-color: #fff;
    padding: 1rem;
}

.startupLanding .fifth-content .content-3 .right .email .input i {
    color: #666666;
}

.startupLanding .fifth-content .content-3 .right .email .input input {
    border: none;
    outline: none;
    margin-left: 5rem;
    background-color: transparent;
    font-size: 1rem;
}

.startupLanding .fifth-content .content-3 .right .email button {
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    border: 1px solid #fff;
}

.startupLanding .fifth-content .footer {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 3rem 0;
}

.startupLanding .fifth-content .footer ul p {
    color: #575454;
}

.startupLanding .fifth-content .footer ul .icons {
    display: flex;
    gap: 1rem;
}

.startupLanding .fifth-content .footer ul .icons i {
    background-color: #575454;
    color: #fff;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
}

.startupLanding .fifth-content .footer ul .icons i:hover {
    background-color: #fff;
    color: #575454;
    cursor: pointer;
    transition: 0.3s ease;
}

.startupLanding .fifth-content .footer ul li,
.startupLanding .fifth-content .footer ul p {
    line-height: 1.5rem;
    margin: 1rem 0;
}

.startupLanding .fifth-content .footer ul li span {
    color: #0000ff;
}

.startupLanding .fifth-content .footer ul li:hover {
    color: #0000ff;
    cursor: pointer;
    transition: 0.2s ease;
}

@media only screen and (max-width: 700px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .startupLanding .first-content header {
        margin: 0 auto;
    }

    .startupLanding .first-content header .main-content>p {
        display: none;
    }

    .startupLanding .first-content header .left h2 {
        font-size: 1.5rem;
    }

    .startupLanding .first-content header .right .btn {
        font-size: 0.9rem;
    }

    .startupLanding .first-content .content h1 {
        font-size: 0.9rem;
        margin-left: -2rem;
    }

    .startupLanding .first-content .content p {
        font-size: 0.9rem;
        width: 200px;
        margin: 1rem 0 0 -2rem;
    }

    #email {
        grid-template-columns: 1fr 1fr;
        max-width: 20rem;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        margin-left: -2rem;
    }

    #email input {
        background-color: transparent;
        font-size: 0.9rem;
    }

    #email i {
        margin-left: 0rem;
    }

    #email .btn {
        font-size: 0.8rem;
        width: 8rem;
    }

    .startupLanding .oval {
        display: none;
    }

    .startupLanding .second-content {
        flex-direction: column;
        overflow: visible;
        height: auto;
        margin-bottom: 4rem;
        padding-bottom: 3rem;
    }

    .startupLanding .second-content .left .content {
        width: 50%;
        margin: 0 auto;
    }

    .startupLanding .second-content .left .content h2 {
        font-size: 1rem;
    }

    .startupLanding .second-content .left .content p {
        font-size: 0.9rem;
    }

    .startupLanding .second-content .right {
        margin-left: none;
        margin-top: 6rem;
    }

    .startupLanding .second-content .right h1 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .startupLanding .second-content .right p {
        font-size: 0.8rem;
        width: auto;
        margin: 1rem auto;
    }

    .startupLanding .second-content .right .btn {
        font-size: 0.8rem;
        max-width: 10rem;
    }

    .startupLanding .third-content {
        flex-direction: column;
        overflow: visible !important;
        height: auto;
    }

    .startupLanding .third-content .left {
        margin-right: 1rem !important;
    }

    .startupLanding .third-content .left h1 {
        font-size: 1.5rem;
    }

    .startupLanding .third-content .left p {
        font-size: 0.7rem;
    }

    .startupLanding .third-content img {
        display: none !important;
    }

    .startupLanding .third-content .right {
        height: 500px;
        margin-top: -7rem;
    }

    .startupLanding .fourth-content {
        height: auto;
    }

    .startupLanding .fourth-content>h1 {
        font-size: 1.8rem;
    }

    .startupLanding .fourth-content .general-content {
        gap: 0rem;
        margin: -2rem auto 2rem;
    }

    .startupLanding .fourth-content .general-content .content {
        flex-direction: column;
    }

    .startupLanding .fourth-content .general-content .content h3 {
        margin: 1rem auto;
        padding: 21px 5rem;
        font-size: 0.9rem;
        max-width: 99%;
    }

    .startupLanding .fifth-content .content-1 {
        flex-direction: column;
    }

    .startupLanding .fifth-content .content-1 .left h1 {
        font-size: 1.5rem;
    }

    .startupLanding .fifth-content .content-1 .left p {
        font-size: 0.7rem;
    }

    .startupLanding .fifth-content .content-1 .left .btn {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .startupLanding .fifth-content .content-1 .right .image img:nth-child(2) {
        display: none;
    }

    .startupLanding .fifth-content .content-1 .right .image {
        width: 90%;
        margin: 2rem auto 0;
    }

    .startupLanding .fifth-content .content-1 .right .image img {
        width: 100%;
    }

    .startupLanding .fifth-content .content-2 {
        overflow: visible !important;
        height: auto;
    }

    .startupLanding .fifth-content .content-2>.title h1 {
        font-size: 1.8rem;
    }

    .startupLanding .fifth-content .content-2>.title p {
        font-size: 0.9rem;
    }

    .startupLanding .fifth-content .content-2 .mini-content {
        flex-direction: column;
        padding-bottom: 4rem;
    }

    .startupLanding .fifth-content .content-2 .mini-content .content-mini p {
        font-size: 0.9rem;
    }

    .startupLanding .fifth-content .content-3 {
        flex-direction: column;
        overflow: visible;
        height: auto;
    }

    .startupLanding .fifth-content .content-3 .left .image {
        width: 80%;
        margin: 0 auto;
    }

    .startupLanding .fifth-content .content-3 .left .image img {
        width: 100%;
    }

    .startupLanding .fifth-content .content-3 .left .image img:nth-child(2) {
        display: none;
    }

    .startupLanding .fifth-content .content-3 .right {
        margin-top: -6rem !important;
        margin-left: 4rem;
        margin-bottom: 2rem;
    }

    .startupLanding .fifth-content .content-3 .right h1 {
        font-size: 1.8rem;
    }

    .startupLanding .fifth-content .content-3 .right p {
        font-size: 0.9rem;
    }

    .startupLanding .fifth-content .content-3 .right .email .input {
        display: flex;
    }

    .startupLanding .fifth-content .content-3 .right .email {
        width: 60%;
    }

    .startupLanding .fifth-content .content-3 .right .email .input input {
        font-size: 0.9rem;
    }

    .startupLanding .fifth-content .content-3 .right .email button {
        font-size: 0.9rem;
    }

    .startupLanding .fifth-content .footer {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .startupLanding .fifth-content .footer ul .icons {
        margin: 1rem 0 1rem 5.5rem
    }
}